
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Second Page</title>
</head>
<body>
    <div> 
        This is <b>Second Page</b>
    </div>
</body>
</html>
